.card {
  color: #121212;
  position: relative;

  .image {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #5d5d5d;
  }

  .text {
    font-size: 12px !important;
  }

  .actions {
    position: absolute;
    bottom: 60px;
    right: 20px;
  }

  .action {
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 50%;
    outline: none;
    width: 36px;
    height: 36px;
    padding: 0;
    font-size: 20px;

    &:hover {
      background: rgb(255, 255, 255, 0.5);
    }
  }
}
