<div class="header-wrapper d-flex flex-column mb-5">
  <a routerLink="/" class="text-decoration-none">
    <div class="brand d-flex align-items-center">
      <img src="{{ logo }}" alt="logo" class="logo" width="22" height="22" />
      <h4 class="mb-0 ms-1">{{ title }}</h4>
    </div>
  </a>

  <div class="search mt-3">
    <form
      class="d-flex"
      [formGroup]="searchForm"
      (ngSubmit)="onSubmit(searchForm)">
      <input
        formControlName="query"
        type="text"
        placeholder="Search all gifs"
        class="input form-control rounded-0 border-0" />
      <button type="submit" class="button btn rounded-0 border-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </button>
    </form>
  </div>
</div>
