.app-main {
  background-color: #121212;
  color: #fff;
  min-height: 100vh;
  padding: 30px 20px 50px 20px;
  position: relative;
}

.app-header,
.app-content {
  margin: 0 auto;
}

.app-toast {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  border: 0;
}
